.page-container {
  background-color: #f8f8f8f1;
  border-radius: 10px;
  width: 100%;
  height: calc(100vh - 106px);
  max-width: 100%;
  margin-top: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .page-container {
    height: auto;
  }
}

.grid::-webkit-scrollbar {
  display: none;
}

.card-actions-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.status-label {
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
