<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  <span>Aplicación Lotería</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="text-white">favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon class="text-white">share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="/"
        routerLinkActive="active"
        ><mat-icon matListItemIcon>home</mat-icon> Nueva Serie
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="series"
        routerLinkActive="active"
        ><mat-icon matListItemIcon>person</mat-icon> Series Guardadas
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="validar"
        routerLinkActive="active"
        ><mat-icon matListItemIcon>qr_code_scanner</mat-icon> Validar QR
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
