<mat-toolbar>
  @if (authService.isLoggedIn(); as loggedIn) {
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="loggedIn">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  }
  <span class="logo-text ml-2">Boletoss</span>
  <span class="toolbar-spacer"></span>

  @if (isInRoute('/series/[a-zA-Z0-9-]+') && hasMenuOptions) {
  <button
    mat-icon-button
    [matMenuTriggerFor]="statusMenu"
    class="example-icon favorite-icon"
    matTooltip="Opciones de la serie"
    [matTooltipShowDelay]="300"
  >
    <mat-icon class="text-white">more_vert</mat-icon>
  </button>
  }@if (isInRoute('/')) {
  <button
    mat-icon-button
    (click)="changeSeriesListWiew()"
    [matTooltip]="
      contextService.viewSeriesArchive
        ? 'Carrar series archivadas'
        : 'Ver series archivadas'
    "
    [matTooltipShowDelay]="300"
    class="example-icon favorite-icon"
    aria-label="Alternar vista de series"
  >
    <mat-icon class="material-symbols-outlined text-white">
      {{ contextService.viewSeriesArchive ? "folder_open" : "folder" }}
    </mat-icon>
  </button>
  }

  <mat-menu #statusMenu="matMenu">
    <button
      mat-menu-item
      (click)="changeStatus('Cancelada')"
      *ngIf="contextService.selectedSeriesCurrentStatus === 'Activa'"
    >
      <mat-icon>cancel</mat-icon>
      <span>Cancelar sorteo</span>
    </button>
    <button
      mat-menu-item
      (click)="changeStatus('Archivada')"
      *ngIf="
        contextService.selectedSeriesCurrentStatus === 'Cancelada' ||
        contextService.selectedSeriesCurrentStatus === 'Sorteada'
      "
    >
      <mat-icon>archive</mat-icon>
      <span>Archivar serie</span>
    </button>
  </mat-menu>

  <button
    *ngIf="authService.isLoggedIn()"
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    aria-label="Usuario"
  >
    <mat-icon class="text-white">account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>
      {{ authService.currentUser?.email }}
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="configurador"
        routerLinkActive="active"
        ><mat-icon matListItemIcon class="material-symbols-outlined"
          >confirmation_number</mat-icon
        >
        Nueva Serie
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="/"
        routerLinkActive="active"
        ><mat-icon matListItemIcon class="material-symbols-outlined"
          >quick_reference_all</mat-icon
        >
        Series Generadas
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="validar"
        routerLinkActive="active"
        ><mat-icon matListItemIcon class="material-symbols-outlined"
          >qr_code_scanner</mat-icon
        >
        Validar QR
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
