<mat-toolbar>
  @if (authService.isLoggedIn(); as loggedIn) {
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="loggedIn">
    <mat-icon class="text-white">menu</mat-icon>
  </button>
  }
  <span class="logo-text ml-2">Boletoss</span>
  <span class="toolbar-spacer"></span>
  <!--
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon class="text-white">favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon class="text-white">share</mat-icon>
  </button>
  -->
  <button
    *ngIf="authService.isLoggedIn()"
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    aria-label="Usuario"
  >
    <mat-icon class="text-white">account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item disabled>
      {{ authService.currentUser?.email }}
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="configurador"
        routerLinkActive="active"
        ><mat-icon matListItemIcon class="material-symbols-outlined"
          >confirmation_number</mat-icon
        >
        Nueva Serie
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="/"
        routerLinkActive="active"
        ><mat-icon matListItemIcon class="material-symbols-outlined"
          >quick_reference_all</mat-icon
        >
        Series Generadas
      </mat-list-item>
      <mat-list-item
        (click)="sidenav.toggle()"
        routerLink="validar"
        routerLinkActive="active"
        ><mat-icon matListItemIcon class="material-symbols-outlined"
          >qr_code_scanner</mat-icon
        >
        Validar QR
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
