<div class="grid p-0 m-0">
  <div class="col-12 pt-4 pl-5"><h3>Personalizar Boleto</h3></div>
  <div class="col-12 md:col-6 p-5 pt-1 md:pr-0">
    <div class="grid">
      <div class="col-12 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Título</mat-label>
          <input
            matInput
            placeholder="Ej: Lotería Millonaria"
            [(ngModel)]="ticketTitle"
            (ngModelChange)="drawTicket()"
          />
          <mat-icon matSuffix class="material-symbols-outlined">title</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-12 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Descripcción</mat-label>
          <input
            matInput
            placeholder="Ej: Participa por un premio de $1.000.000"
            [(ngModel)]="ticketDescription"
            (ngModelChange)="drawTicket()"
          />
          <mat-icon matSuffix class="material-symbols-outlined"
            >description</mat-icon
          >
        </mat-form-field>
      </div>
      <div class="col-12 md:col-4 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Oportunidades</mat-label>
          <mat-select
            [(ngModel)]="selectedOpportunities"
            (ngModelChange)="drawTicket()"
          >
            @for (number of opportunities; track number) {
            <mat-option [value]="number">{{ number }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Cifras</mat-label>
          <mat-select
            [(ngModel)]="selectedFigures"
            (ngModelChange)="drawTicket()"
          >
            @for (number of figures; track number) {
            <mat-option [value]="number">{{ number }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Fecha Sorteo</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="DD/MM/AAAA"
            [(ngModel)]="ticketDate"
            [min]="minDate"
            (ngModelChange)="drawTicket()"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker startView="month"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Número Contacto</mat-label>
          <input
            matInput
            placeholder="Ej: 3120000000"
            [(ngModel)]="ticketContact"
            maxlength="12"
            (ngModelChange)="drawTicket()"
          />
          <mat-icon matSuffix>add_call</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Caducidad</mat-label>
          <input
            matInput
            type="number"
            placeholder="Ej: 30"
            [(ngModel)]="gracePeriodValue"
            [min]="1"
            step="1"
            (ngModelChange)="drawTicket()"
          />
          <mat-icon matSuffix class="material-symbols-outlined">timer</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-12 md:col-4 p-2">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Unid. tiempo</mat-label>
          <mat-select
            [(ngModel)]="gracePeriodUnit"
            (ngModelChange)="drawTicket()"
          >
            @for (unit of graceUnits; track unit) {
            <mat-option [value]="unit">{{ unit }}</mat-option>
            }
          </mat-select>
          <mat-icon matSuffix class="material-symbols-outlined"
            >manage_history</mat-icon
          >
        </mat-form-field>
      </div>
    </div>

    <div class="flex gap-3 mt-3 flex-wrap justify-content-center">
      <button mat-fab extended (click)="includeLogo()">
        <mat-icon class="material-symbols-outlined">filter_vintage</mat-icon>
        Incluir logo
      </button>
      <button mat-fab extended (click)="openBackgroundPicker()">
        <mat-icon class="material-symbols-outlined">image</mat-icon>
        Fondo
      </button>
      <button mat-fab extended (click)="openFontColorPicker()">
        <mat-icon class="material-symbols-outlined">palette</mat-icon>
        Color de sección
      </button>
      <button mat-fab extended (click)="generateSeries()">
        <mat-icon class="material-symbols-outlined">widget_small</mat-icon>
        Generar Serie
      </button>
    </div>
  </div>

  <div
    class="col-12 md:col-6 p-5 pt-1 flex align-items-center justify-content-center"
  >
    <div
      class="canvas-container flex flex-column align-items-center h-full w-full"
    >
      <canvas #ticketCanvas class="w-full max-w-full h-auto"></canvas>
    </div>
  </div>
</div>

<ng-template #loadingDialog>
  <div class="p-4">
    <h4>Generando serie</h4>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <p>Este proceso puede tardar unos minutos, por favor espere...</p>
  </div>
</ng-template>

<ng-template #warningDialog let-dialogRef="dialogRef">
  <div class="p-4">
    <h4>Información incompleta</h4>
    <p>
      Los campos OPORTUNIDADES, CIFRAS y NÚMERO DE CONTACTO son obligatorios
    </p>
    <div class="text-right mt-4">
      <button mat-flat-button color="primary" (click)="dialogRef.close()">
        Aceptar
      </button>
    </div>
  </div>
</ng-template>
