/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .mat-bottom-sheet-container {
  max-height: 80vh;
  overflow-y: auto !important;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

::ng-deep .mat-bottom-sheet-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
